boto3==1.4.7
botocore==1.7.43
Django==2.2.9
docutils==0.12
elementtree===1.2.7-20070827-preview
gevent==1.3.7
greenlet==0.4.15
html5lib==0.90
jmespath==0.9.3
libsass==0.15.1
lxml==4.2.5
Markdown==2.6.9
MarkupSafe==0.23
meson==0.51.0
mysqlclient==1.3.14
ninja==1.9.0
olefile==0.46
packaging==19.2
pbr==2.0.0
Pillow==5.4.0
psutil==4.3.1
psycopg2==2.7.3.1
pycairo==1.15.3
pycrypto==2.6.1
pydot==1.2.3
pyldap==2.4.28
pyparsing==2.4.5
python-dateutil==2.6.1
python-Levenshtein==0.12.0
python-openid==2.2.5
pytz==2016.7
PyYAML==3.13
reportlab==3.5.31
s3transfer==0.1.11
scandir==1.5
scikit-build==0.10.0
simplejson==3.11.1
six==1.13.0
sqlparse==0.3.0
stevedore==1.30.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
